/* CSS declarations go here */

/* LAYOUT */

body {
	font-family: "lato" serif;
	padding-top: 60px;
	background-color: hsl(195, 74%, 96%);
}



/* HOME */

/* Navbar */

.navbar {
	height: 70px;
	font-size: 1.5em;
	vertical-align: middle;
	position : fixed;
	top : 0;
	width: 100%;
	line-height: 0px;
	background-color: hsl(195, 54%, 60%);
	border : none;
	border-radius: 0px;
}

.navbar-nav > li > a {
	line-height: 38px;
}

.navbar-default .navbar-nav > li > a {
	color :hsl(222, 1%, 97%) ;

}

a {
	color :hsl(222, 1%, 97%) ;
}

.follow_us {
	background-color: hsl(195, 54%, 60%);
}
/* NOT CONNECT */
.not_connect {
	display: block;
	margin : auto;
	margin-top : 60px;
}
.not_connect_text {
	text-align: center;
	font-size: 2em;
	color: red;
	font-weight: bold;
}

.navbar-default .navbar-nav > .open > a:focus {
    background-color: hsl(195, 54%, 60%);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: hsl(195, 54%, 60%);
}

#login-other-options>a {
	color :hsl(195, 54%, 60%);
}


/* ASIDE */
.aside__container aside {
	z-index: 0;
	position: fixed;
	border : 3px hsl(210, 60%, 50%) solid;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	background-color: hsl(195, 54%, 40%);
	border : none;
	width: 15%;
	top: 30%;
	color :hsl(222, 1%, 97%);
}

.aside__container aside:first-child {
	left: 5px;
}

.aside__container aside:last-child {
	right: 5px;
}

.container__title {
	margin-top: 5px;
}


.delimiter {
	margin: 10px auto;
	font-weight: bold;
	font-size: 1.3em;
}

.interrupt{
	display: inline-block;
}

.interrupt_selector {
	display: inline-block;
	float: right;
	margin-right: 7px;
}



hr {
	size: 5px;
	width: 80%;
	align: center;
}



.aside_list {
	font-size: 1.3em;
	display: inline-block;
}

input[type="text"] {
	color : black;
	width: 70%;
}

input[type="number"] {
	color : black;
	width: 70%;
}

/****** Aside Friend ******/
.friend_info {
	display: inline-block;
}

.friend_info>div {
	display : none;
}
div, .friend_info:hover>div {
	display:block;
}


/******* Aside timers *******/
#start_timer>#delete {
	display : none;
}

#start_timer:hover>#delete {
	display: inline-block;
}


/* MAIN */

.box {
	width: 65%;
	margin: auto;
	border : 2px black solid;
	padding: 5px;	
}
.top_box {
	display: inline;
}

.top_box>button {
	float : right;
}

.box_element {
	display : inline-block;
}


.friend_box {
	margin-top: 10px;
	border-radius: 5px;
	background-color: hsl(195, 74%, 70%);
}

.friend_box>button {
	margin-left: 20px;
}

.sync {
	display: inline-block;
}

.led {
	padding: 5px;
	border-radius: 8px;
	max-width: 10px;
	border : 2px black solid;
	display : inline-block;
	margin-right: 30px;
}

.led_connect {
	background-color: hsl(130, 98%, 53%);
}

.led_disconnect {
	background-color: hsl(1, 98%, 56%);
}

.favorite {
	color: hsl(50, 91%, 51%);
}

/* My Box */
.my_box {
	background-color: hsl(195, 74%, 45%);
	border : 3px black solid;
	border-radius: 5px;
	margin: auto;
}

.my_timer {
	/*float : left;*/
	margin-right: 60px;
}

.me {
	align-self: top;
	float : right;
}

.who_ping {
	vertical-align: top;
	align-self: center;
}

#ping_element {
	display : inline-block;
}

#ping_element>p { 
	display: none;
}

#ping_element:hover>p {
	display: block;
}


/* Button */

.button_add {
	background-color: hsl(130, 70%, 45%);
	color : black;
}

.button_busy {
	background-color: hsl(27, 80%, 52%);
	color : black;
}

.button_inactive {
	background-color: hsl(6, 0%, 59%);
	color : black;
}

.button_del {
	background-color: hsl(360, 88%, 43%);
	color : black;
}

.button_icon_general {
	border : none;
	background : none;
	padding: 0;
	margin-left: 5px;

}

.button_icon_delete{
	color: hsl(360, 88%, 43%);
}

.button_icon_add{
	color :hsl(130, 51%, 51%);
	font-size: 1.8em; 
	margin-top: 8px;
}

.button__general {
	margin: 2px;
	padding: 5px;
	margin: 5px 5px;
	text-align: center;
	border: 2px black solid;
	border-radius: 10px;
}

.btn-default {
	margin: 2px;
	padding: 3px;
	color : inherit;
	float: right;
	display: inline-block;
}

.favorite {
	color: hsl(50, 91%, 51%);
}

/*ERRORS*/

.errors{
	position: fixed;
	z-index: 10000;
	padding: 10px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	pointer-events: none;
}

.alert {
	animation: fadeOut 2700ms ease-in 0s 1 forwards;
	-webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
	-moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
	width: 250px;
	float: right;
	clear: both;
	margin-bottom: 5px;pointer-events: auto;
}