<template name="friendList">
	<div>
		
		<p class="delimiter"> FOLLOWED</p>
		{{#each followed_friends 1}}

			{{>friendListFollowed}}

		{{/each}}
		{{#each followed_friends 0}}

			{{>friendListFollowed}}

		{{/each}}
		
   		<p class="delimiter"> NOT FOLLOWED <button type="button" class=" button_icon_general" id="button_unfollowed_friend_list"><i class="fa fa-list" aria-hidden="true"></i></button></p>
   		
   		<div id="unfollowed_friend_list" style= "display:none"> 
		{{#each unfollowed_friends}}

			{{>friendListUnfollowed}}

		{{/each}}
		</div>
	</div>	
</template>
