<template name ="friendPanel">

	<div class="panel panel-default">
		  
		  <div class="panel-heading">They ask you</div>

		  <!-- Table -->
		  <table class="table">
		    	<tr>
					<th> Username </th>
					<th> Email </th>
					<th> Accept/Decline </th>
				</tr>
				{{#each friends_demand}}
				<tr>
					<td>{{username}}</td>
					<td>{{emails.[0].address}}</td>
					<td><form><button value="{{_id}}" type="submit" id="add_friend" class="button_icon_add button_icon_general"><i class="fa fa-check" aria-hidden="true"></i></button><button value="{{_id}}" type="submit" id="delete" class="button_icon_delete button_icon_general button_icon_sizeup">  <i class="fa fa-times" aria-hidden="true"></i></button></form></td>
				</tr>
				{{/each}}
		  </table>
	</div>
	<div class="panel panel-default">
		  
		  <div class="panel-heading">Your Friend</div>

		
		  <table class="table">
		   		<tr>
					<th> Username </th>
					<th> Email </th>
					<th> Follow </th>
				</tr>
				{{#each followed_friends 1}}
				<tr>
					<td>{{username}}</td>
					<td>{{emails.[0].address}}</td>
					<td>oui </td>
				</tr>
				{{/each}}
				{{#each followed_friends 0}}
				<tr>
					<td>{{username}}</td>
					<td>{{emails.[0].address}}</td>
					<td> oui </td>
				</tr>
				{{/each}}

				{{#each unfollowed_friends}}
				<tr>
					<td>{{username}}</td>
					<td>{{emails.[0].address}}</td>
					<td> non </td>
				</tr>
				{{/each}}	
		  </table>
	</div>
	<div class="panel panel-default">
		  
		  <div class="panel-heading">You ask them</div>

		  <!-- Table -->
		  <table class="table">
		    	<tr>
					<th> Username </th>
					<th> Email </th>
					<th> Cancel </th>
				</tr>
				{{#each friends_asking}}
				<tr>
					<td>{{username}}</td>
					<td>{{emails.[0].address}}</td>
					<td><form><button value="{{_id}}" type="submit" id="cancel" class="button_icon_delete button_icon_general button_icon_sizeup">  <i class="fa fa-times" aria-hidden="true"></i></button></form></td>
				</tr>
				{{/each}}
		  </table>
	</div>
	
</template>