<template name="timers">
	<div id="my_timer">
		<h2 class="container__title">Timers</h2>
		<form>
        	<input type="number" placeholder="enter Time in minutes" name="new_time" id="time" />

       		<button type="button" id="add_timer" class="button_icon_general button_icon_add"><i class="fa fa-plus" aria-hidden="true"></i></button> 

        </form>
		<p class="delimiter interrupt"> Interrupt</p><p class="delimiter interrupt_selector">OK / NO</p>
		{{#each timer}}
			{{>timerElement}}
		{{/each}}
	</div>
</template>